* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, skyblue, blue);
  background-image: 
    radial-gradient(circle at 100% 150%, skyblue 24%, blue 25%, blue 28%, skyblue 29%, skyblue 36%, blue 36%, blue 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, skyblue 24%, blue 25%, blue 28%, skyblue 29%, skyblue 36%, blue 36%, blue 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, blue 10%, skyblue 11%, skyblue 23%, blue 24%, blue 30%, skyblue 31%, skyblue 43%, blue 44%, blue 50%, skyblue 51%, skyblue 63%, blue 64%, blue 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, blue 5%, skyblue 6%, skyblue 15%, blue 16%, blue 20%, skyblue 21%, skyblue 30%, blue 31%, blue 35%, skyblue 36%, skyblue 45%, blue 46%, blue 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, blue 5%, skyblue 6%, skyblue 15%, blue 16%, blue 20%, skyblue 21%, skyblue 30%, blue 31%, blue 35%, skyblue 36%, skyblue 45%, blue 46%, blue 49%, transparent 50%, transparent);
  background-size: 100px 50px;
}